@charset "ISO-8859-1";

<
style>
.container {
	width: left;
	height: center;
	background: #6C7A89;
	display: left;
	flex-direction: center;
	justify-content: center;
	align-items: left;
}

body {
	margin: 0px;
}
.campo1 {
   float:left;
}
fieldset#Nome label {
   display: block;
   width: 10%;
   float:left;
 }
 
 fieldset#Nome button {
   display: block;
   width: 10%;
   float:left;
 }
 button
</
style
>